*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Apps{
    gap: 80px;
    height: 100vh;
    display: flex;
    justify-content: baseline;
    background: rgb(246, 251, 251);
  }
  .Contacs{
    height: 100vh;
    width: 600px;
    background: #eeeeee;
  }
  .input-hero{
    height: 50px;
    width: 250px;
    padding: 0px 20px;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    box-shadow: 0px 1px 2px #ffffff;
    border: solid 1px #ccc6c6;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Button{
    height: 50px;
    width: 100px;
    background: #fff;
    color: rgb(70, 155, 251);
    font-weight: 600;
    font-size: 16px;
    border-radius: 7px;
    box-shadow: 0px 1px 2px #656565;
    border: solid 1px #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }
  .input-label{
    gap: 10px;
    display: flex;
    padding: 27px 0px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .chiziq{
    width: 100%;
    height: 1.5px;
    margin-top: 10px;
    background: #d0d0d0;
  }
  .active{
    background: rgb(78, 167, 251);
    color: #fff;
    padding: 0px 20px;
    border-radius: 10px;
  }
  .Roots{
    height: 100vh;
    width: 100%;
  }
  
 .hero{
    font-size: 20px;
    color: #494949;
    text-decoration: none;
    font-size: 20px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar{
    display: flex;
    padding: 20px 30px;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: baseline;
}
.dd{
  height: 260px;
  width: 260px;
  border-radius: 20px;
}
.text-1{
  gap: 20px;
  display: flex;
  font-size: 40px;
  font-weight: 900;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-2{
  color: rgb(4, 224, 224);
  font-size: 35px;
  font-weight: 900;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-3{
  color: rgb(45, 45, 45);
  font-size: 25px;
  font-weight: 900;
  padding: 13px 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn{
  color: rgb(54, 125, 247);
  height: 45px;
  width: 100px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 900;
  border: solid 1px #ccc6c6;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-1{
  color: rgb(247, 54, 54);
  height: 45px;
  width: 130px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 900;
  border: solid 1px #ccc6c6;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rountin{
  gap:30px;
  display: flex;
  align-items: center;
}
.Contend1{
  gap: 30px;
  display: flex;
  padding: 20px 0px;
  align-items: center;
  justify-content: baseline;
}